*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  background-color: #fff;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  opacity: 1;
}

header {
  background-color: #fff;
  position: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-bottom: 2px solid #D5C5BE;
  z-index: 3;
}

main {
  margin-top: 15px;
  width: 100%;
}

footer {
  display: block;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

h1 {
  font-size: 32px;
  letter-spacing: 3px;
}

h2 {
  font-size: 28px;
  letter-spacing: 2px;
}

.full {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.inner {
  width: 100%;
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.heading {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 35px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #E6745D), color-stop(70%, #3F575D));
  background: -o-linear-gradient(top, #E6745D 20%, #3F575D 70%);
  background: linear-gradient(180deg, #E6745D 20%, #3F575D 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

[class^="icon-"]:before,
[class*="icon-"]:before {
  display: inline-block;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-transform: none;
  line-height: 1;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adaptiv:before {
  content: "\e900";
}

.icon-address:before {
  content: "\e901";
}

.icon-case:before {
  content: "\e902";
}

.icon-chrome:before {
  content: "\e903";
}

.icon-css3:before {
  content: "\e904";
}

.icon-email:before {
  content: "\e905";
}

.icon-gulp:before {
  content: "\e906";
}

.icon-home:before {
  content: "\e907";
}

.icon-html5:before {
  content: "\e908";
}

.icon-js:before {
  content: "\e909";
}

.icon-lang:before {
  content: "\e90a";
}

.icon-made:before {
  content: "\e90b";
}

.icon-map:before {
  content: "\e90c";
}

.icon-sass:before {
  content: "\e90d";
}

.icon-school:before {
  content: "\e90e";
}

.icon-tel:before {
  content: "\e90f";
}

.icon-tools:before {
  content: "\e910";
}

.icon-work:before {
  content: "\e911";
}

.icon-school,
.icon-case,
.icon-work,
.icon-made {
  position: relative;
}

.icon-school:before,
.icon-case:before,
.icon-work:before,
.icon-made:before {
  margin-right: 25px;
}

.icon-school:after,
.icon-case:after,
.icon-work:after,
.icon-made:after {
  content: '';
  background: #f5f5f5;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -5px;
  left: 8px;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  z-index: -1;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-400.woff2") format("woff2"), url("../fonts/roboto-400.woff") format("woff"), url("../fonts/roboto-400.ttf") format("truetype"), url("../fonts/roboto-400.svg#Roboto") format("svg");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-500.woff2") format("woff2"), url("../fonts/poppins-500.woff") format("woff"), url("../fonts/poppins-500.ttf") format("truetype"), url("../fonts/poppins-500.svg#Poppins") format("svg");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-700.woff2") format("woff2"), url("../fonts/poppins-700.woff") format("woff"), url("../fonts/poppins-700.ttf") format("truetype"), url("../fonts/poppins-700.svg#Poppins") format("svg");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-500.woff2") format("woff2"), url("../fonts/montserrat-500.woff") format("woff"), url("../fonts/montserrat-500.ttf") format("truetype"), url("../fonts/montserrat-500.svg#Montserrat") format("svg");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-700.woff2") format("woff2"), url("../fonts/montserrat-700.woff") format("woff"), url("../fonts/montserrat-700.ttf") format("truetype"), url("../fonts/montserrat-700.svg#Montserrat") format("svg");
}

@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.ttf?yzxlr6") format("truetype"), url("../fonts/icomoon.woff?yzxlr6") format("woff"), url("../fonts/icomoon.svg?yzxlr6#icomoon") format("svg");
}

.header {
  height: inherit;
}

.header__about-me {
  padding-top: 10px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  height: 100%;
  text-align: center;
}

.header__logo img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.header__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 66.666%;
  flex: 1 1 66.666%;
  padding: 5px 25px;
}

.header__heading {
  color: #333;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.header__contact--left,
.header__contact--right {
  position: relative;
  top: 0;
  left: 0;
  height: 88px;
}

.header__contact--left {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 66.66%;
  flex: 1 1 66.66%;
}

.header__contact--right {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.33%;
  flex: 1 1 33.33%;
}

.header__contact--left-bg,
.header__contact--right-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px 20px;
  z-index: 1;
}

.header__contact--left-bg {
  background: -o-linear-gradient(355deg, #F15C1C 5%, #51CDED 100%);
  background: linear-gradient(95deg, #F15C1C 5%, #51CDED 100%);
  -webkit-transform: matrix(1, 0, 0.45, 1, -40, 0);
  -ms-transform: matrix(1, 0, 0.45, 1, -40, 0);
  transform: matrix(1, 0, 0.45, 1, -40, 0);
}

.header__contact--right-bg {
  background: -o-linear-gradient(348deg, #E2E0E2 18%, rgba(248, 247, 248, 0) 85%);
  background: linear-gradient(102deg, #E2E0E2 18%, rgba(248, 247, 248, 0) 85%);
  -webkit-transform: matrix(0.93, 0, 0.45, 1, 0, 0);
  -ms-transform: matrix(0.93, 0, 0.45, 1, 0, 0);
  transform: matrix(0.93, 0, 0.45, 1, 0, 0);
}

.header__contact--left-content,
.header__contact--right-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 75px;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
}

.contact__name {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 500;
}

.contact__profile {
  color: #edd;
}

.study {
  display: block;
  padding-top: 20px;
  padding-bottom: 60px;
}

.ed__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 32px;
}

.ed__desc span {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.skills {
  margin-bottom: 50px;
}

.skill__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  background: #e8e8e8;
}

.skill__block {
  padding: 35px 10px 35px 10px;
}

.skill__block-r {
  padding: 10px 10px 10px 10px;
}

.skill__heading {
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.skill__desc--rate {
  color: #186c55;
}

.skill__desc--use {
  color: #996c00;
}

.skill__scrollbar {
  position: relative;
  width: 90%;
  height: 20px;
  margin-top: 40px;
  margin-left: 5%;
}

.skill__scrollbar--outer {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 13px;
  background: #56a2b9;
  border-radius: 10px;
  z-index: 1;
}

.skill__scrollbar--inner {
  position: absolute;
  top: 7px;
  left: 0;
  width: 70%;
  height: 6px;
  background: #00c6f9;
  border-radius: 6px;
  z-index: 2;
}

.skill__scrollbar--circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #56a2b9;
  border-radius: 50%;
  z-index: 3;
}

.skill__scrollbar--rate {
  position: absolute;
  top: -40px;
  left: 90%;
  width: 40px;
  height: 40px;
  border: 1px solid #56a2b9;
  border-radius: 50%;
  padding-left: 6px;
  padding-top: 8px;
  z-index: 3;
}

.skill__block:nth-child(2) .skill__scrollbar--inner {
  width: 85%;
}

.skill__block:nth-child(3) .skill__scrollbar--inner {
  width: 30%;
  background: orange;
}

.skill__block:nth-child(4) .skill__scrollbar--inner {
  width: 50%;
}

.skill__block:nth-child(5) .skill__scrollbar--inner {
  width: 45%;
}

.skill__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  background: #d4ede9;
  padding-top: 23px;
}

.chart {
  margin-bottom: 50px;
}

.chart__wish {
  width: 70%;
  margin: 10px 0px 24px 5%;
  padding-left: 2%;
  border-left: 4px solid #999;
  font-size: 14px;
  font-style: italic;
}

.made {
  margin-bottom: 50px;
}

.announcement:first-letter {
  color: #6e5b5b;
  font-size: 20px;
}

.project {
  background: #ebfffc;
  margin-bottom: 70px;
}

.project__body {
  padding: 15px;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.project__list li:first-child:hover {
  background: #ffc6c6;
  border-radius: 15px;
}

.project__list li:first-child:hover:before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.project__list li {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding: 3px 10px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
  cursor: pointer;
}

.project__list li:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 9px;
  right: 9px;
  height: 4px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.project__list li:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.project__list li[data-pro_filter="site"]:hover:before {
  background: #2980b9;
}

.project__list li[data-pro_filter="lp"]:hover:before {
  background: #e74c3c;
}

.project__list li[data-pro_filter="shop"]:hover:before {
  background: #1aa756;
}

.project__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pro-box {
  position: relative;
  background: #fff;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 29%;
  flex: 0 1 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
  min-height: 200px;
  margin: 15px;
  border-width: 3px;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
}

.pro-box:hover .screenshot:before {
  opacity: 0.8;
}

.pro-box:hover .pro-box__content {
  opacity: 1;
}

.screenshot {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 10px auto;
}

.screenshot img {
  border-radius: 15px;
}

.screenshot:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #000;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
  z-index: 1;
}

.screenshot .pic-fish {
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.pro-box__content {
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 15%;
  opacity: 0;
  z-index: 2;
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s;
}

.pro-box__heading {
  font-size: 20px;
  text-decoration: underline;
}

.pro-box__txt {
  text-align: justify;
  font-size: 14px;
  margin: 15px 20px;
}

.pro-box__button {
  margin-bottom: 5%;
  width: 100px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 8px;
  background: #999;
  text-align: center;
  line-height: 26px;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
}

.pro-box__button a {
  color: aquamarine;
}

.pro-box__button:hover {
  background: #555;
  cursor: pointer;
}

.pro-box__button:hover a {
  color: white;
}

.pro-box.site {
  border: 3px solid #2980b9;
}

.pro-box.lp {
  border: 3px solid #e74c3c;
}

.pro-box.shop {
  border: 3px solid #1aa756;
}

.hide {
  display: none;
}

.active-all {
  background: #ffc6c6;
  border-radius: 15px;
}

.active-site {
  color: #2980b9;
}

.active-lp {
  color: #e74c3c;
}

.active-shop {
  color: #1aa756;
}

.footer {
  width: 100%;
  height: inherit;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.footer__decoration {
  width: 300px;
  height: 90px;
  background: -o-linear-gradient(354deg, #8AA5A3 5%, #51CDED 100%);
  background: linear-gradient(96deg, #8AA5A3 5%, #51CDED 100%);
  border-radius: 15px;
  -webkit-transform: matrix(0.89, 0, 0.58, -1, -70, 0);
  -ms-transform: matrix(0.89, 0, 0.58, -1, -70, 0);
  transform: matrix(0.89, 0, 0.58, -1, -70, 0);
}

.footer__info {
  color: #56a2b9;
  height: inherit;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

@media (max-width: 998px) {
  .inner {
    max-width: 998px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 850px) {
  .pro-box {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }
}

@media (max-width: 840px) {
  .header__contact--left-content,
  .header__contact--right-content {
    left: 45px;
  }
}

@media (max-width: 778px) {
  .skill__body {
    display: block;
  }
}

@media (max-width: 770px) {
  .pro-box .screenshot:before {
    opacity: 0.5;
  }

  .pro-box .pro-box__content {
    opacity: 1;
  }
}

@media (max-width: 750px) {
  .header__about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__txt {
    display: none;
  }

  .header__contact--right {
    display: none;
  }

  .header__contact--left-bg {
    -webkit-transform: matrix(0.9, 0, 0.45, 0.9, 0, 0);
    -ms-transform: matrix(0.9, 0, 0.45, 0.9, 0, 0);
    transform: matrix(0.9, 0, 0.45, 0.9, 0, 0);
  }

  .header__contact--left-content,
  .header__contact--right-content {
    top: 15px;
    left: 0;
    text-align: center;
  }

  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__address {
    display: none;
  }
}

@media (max-width: 642px) {
  .pro-box {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
}

@media (max-width: 400px) {
  .project__list li {
    font-size: initial;
    padding: 3px;
  }
}

@media (max-width: 380px) {
  .footer__info {
    margin-left: -60px;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}